.container{
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  margin-bottom: 40 px;
}
.fcc-btn {
  background-color: #ffffff;
  color: black;
  padding: 15px 25px;
  text-decoration: none;
}
button{
  background-color: beige;
  border-radius: 10px;
}
.submit{
color:white;
height: 50px;
width: 250px;
}

input{
color:black;
height: 50px;
width: 250px;
}

h1{
  font-family: 'Meddon', cursive;
  font-size: 50px;
  padding: 20px;
}

body{
  background: #CCDBFD;
}

button {
  margin: 15px;
  padding: 12px 18px;
  border: 1px solid #fdccdb;
  background: #fdccdb;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
}

.text{
  font-size: 25px;
}

.forms{
  border: 20px solid white;
  background-color: white;
  border-radius: 10px;
  width: 35%;
  margin-left: 32%;
}

